.fa-icon {
    margin-right: 10px;
}

#register-btns {
    position: relative;
    left: 100px;
}

#register-form {
    width: 500px;
    border: 2px solid lightgrey;
    padding: 40px;
    position: relative;
    top: 60px;
}

#register-header {
    border-bottom: 2px solid lightgrey;
    width: 456px;
    font-size: 50px;
    background-color: #037584;
    position: relative;
    bottom: 107px;
    right: 40px;
    padding: 20px;
    text-align: center;
    height: 130px;
}

.loginInput {
    padding: 6px;
    width: 300px;
}

#welcome-salutation {
    font-size: 24px;
    padding: 20px;
}

.input-wrapper {
    margin-right: 25px;
    width: 190px;
}

#stock-table {
    margin: 0 auto;
    width: 90%;
}

#stock-table,
th,
td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
    color: #000;
}

#stock-table th {
    color: #fff;
    background-color: #374b4e;
}

#stock-table tr {
    background-color: #c1bebe;
}

#del-row-btn {
    color: firebrick;
}

#searchWrapper {
    position: relative;
    left: 1070px;
    padding: 10px;
    color: #000;
}

#table-search {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #d0d2d2;
}

#lbl-table-search {
    font-size: 18px;
}