body {
    font-family: 'Montserrat', sans-serif;
}

.viewTitle {
    padding: 10px;
}

.fa-icon {
    margin-right: 10px;
}

#register-btns {
    position: relative;
    left: 100px;
}

#register-form {
    width: 500px;
    border: 2px solid lightgrey;
    padding: 40px;
    position: relative;
    top: 60px;
}

#register-header {
    border-bottom: 2px solid lightgrey;
    width: 456px;
    font-size: 50px;
    background-color: #037584;
    position: relative;
    bottom: 107px;
    right: 40px;
    padding: 20px;
    text-align: center;
    height: 130px;
}

.loginInput {
    padding: 6px;
    width: 300px;
}

#welcome-salutation {
    font-size: 24px;
    padding: 20px;
}

.input-wrapper {
    margin-right: 25px;
    width: 190px;
}

#stock-table {
    margin: 0 auto;
    width: 90%;
}

#stock-table,
th,
td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
    color: #000;
}

#stock-table th {
    color: #fff;
    background-color: #374b4e;
}

#stock-table tr {
    background-color: #c1bebe;
}

#del-row-btn {
    color: firebrick;
}

#navWrapper {
    padding: 10px;
    color: #000;
}

#table-search {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #d0d2d2;
}

#lbl-table-search {
    font-size: 18px;
    float: right;
    position: relative;
    right: 70px;
}

#expiredOnlyBtn {
    position: relative;
    left: 740px;
    background-color: transparent;
    color: #fff;
    border: 3px solid rgb(33, 150, 243);
}

.navBtn {
    text-decoration: none;
    color: #fff;
}

.card-body {
    background-color: #dcdcdc;
    color: #000;
    /* border-bottom: 1px solid #adadad; */
}

.mdCard {
    width: 32%;
    float: left;
}

.card-body span {
    font-weight: bold;
}

#addListBtn {
    border: 2px solid rgb(61, 130, 235);
    color: #000;
}

#exp-footer {
    background-color: #fff;
}

.fa-space-right {
    margin-right: 10px;
}

#throwAwayBtn {
    border: 2px solid #f44236;
    width: 130px;
}

.warning {
    color: #f44236;
    font-weight: bold;
    font-size: 18px;
}

.danger {
    color: rgb(142, 61, 235);
    font-weight: bold;
    ;
}

#grocery-basket {
    width: 40px;
}

.bannerTitle {
    margin-left: 10px !important;
}

#groceryList {
    width: 310px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

#btnGroceryListRemove {
    color: #ad1309;
    font-size: 20px;
    position: relative;
    top: 5px;
}