<header ng-include="'/views/partials/login.header.html'"></header>
<body class="homeContainer">
    <div class="backImage">
        <!-- <img src="../images/fish-jump.jpg" alt="" /> -->
        <div class="homeBanner">
            <div class="homeBannerbox">
                <div class="homeBanner-text">
                    <h1 class="h1Home">fish. catch. itrack</h1>
                    <h3 class="h3Home">Can't remember what you caught and when?</h3>
                    <h6 class="h6Home">iTrack stores all your fishing data in one place</h6>
                </div>
            </div>
        </div>
    </div>
</body>